body {
    margin: 0;
    font-family: 'Urbanist', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

}

:root {
    --sendbird-font-family-default: "NewFont", sans-serif;
}

.app {
    height: calc(100vh);
    background: #F2F2F2;
}

.customized-app {
    height: 100%;
}

.customized-channelpreview-item:hover {
    cursor: pointer;
}

.channel-selector {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-selector__icons {
    display: flex;
}

.sendbird-channel-list__header {
    display: none;
}

.sendbird-channel-list {
    border-radius: 24px;
    padding: 16px;
}

.custom-channel-list {
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.sendbird-app__channellist-wrap {
    width: 320px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 600px) {
    .sendbird-app__channellist-wrap {
        display: none;
    }
}

.sendbird-app__wrap .sendbird-app__conversation-wrap {
    padding: 24px;
    margin: 16px;
}

.sendbird-theme--light .sendbird-channel-preview--active {
    border-left: initial;
    border-bottom: initial;
    background-color: initial;

}

.sendbird-label--subtitle-2 {
    color: #0E0E0E;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sendbird-theme--light .sendbird-channel-preview--active .sendbird-channel-preview__content__upper__header__channel-name {
    color: #0E0E0E;

}

.sendbird-theme--light .sendbird-label--color-onbackground-3 {
    color: #0E0E0E;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sendbird-channel-preview .sendbird-channel-preview__content {
    margin-left: 4px;
}

.sendbird-theme--light .sendbird-label--color-onbackground-2 {
    color: #0E0E0E;
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.sendbird-channel-preview .sendbird-channel-preview__content .sendbird-channel-preview__content__upper .sendbird-channel-preview__content__upper__header .sendbird-channel-preview__content__upper__header__total-members {
    display: none;
}

.sendbird-channel-preview--active {
    padding: 8px;
}

.sendbird-channel-preview {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 16px 40px -7px rgba(0, 0, 0, 0.05);
}

:root {
    --sendbird-light-primary-500: #D2375D;
    --sendbird-light-primary-400: #D2375D;
    --sendbird-light-primary-300: #D2375D;
    --sendbird-light-primary-200: #D2375D;
    --sendbird-light-primary-100: #D2375D;
    --sendbird-dark-primary-500: #D2375D;
    --sendbird-dark-primary-400: #D2375D;
    --sendbird-dark-primary-300: #D2375D;
    --sendbird-dark-primary-200: #D2375D;
    --sendbird-dark-primary-100: #D2375D;
    --sendbird-dark-secondary-500: #066858;
    --sendbird-dark-secondary-400: #027d69;
    --sendbird-dark-secondary-300: #259c72;
    --sendbird-dark-secondary-200: #69c085;
    --sendbird-dark-secondary-100: #a8e2ab;
    --sendbird-dark-information-100: #adc9ff;
    --sendbird-highlight-100: #fff2b6;
    --sendbird-dark-error-500: #9d091e;
    --sendbird-dark-error-400: #bf0711;
    --sendbird-dark-error-300: #de360b;
    --sendbird-dark-error-200: #f66161;
    --sendbird-dark-error-100: #fdaaaa;
    --sendbird-dark-background-700: #000000;
    --sendbird-dark-background-600: #161616;
    --sendbird-dark-background-500: #2C2C2C;
    --sendbird-dark-background-400: #393939;
    --sendbird-dark-background-300: #bdbdbd;
    --sendbird-dark-background-200: #e0e0e0;
    --sendbird-dark-background-100: #eeeeee;
    --sendbird-dark-background-50: #FFFFFF;
    --sendbird-dark-overlay-01: rgba(0, 0, 0, 0.55);
    --sendbird-dark-overlay-02: rgba(0, 0, 0, 0.32);
    --sendbird-dark-onlight-01: rgba(0, 0, 0, 0.88);
    --sendbird-dark-onlight-02: rgba(0, 0, 0, 0.50);
    --sendbird-dark-onlight-03: rgba(0, 0, 0, 0.38);
    --sendbird-dark-onlight-04: rgba(0, 0, 0, 0.12);
    --sendbird-dark-ondark-01: rgba(255, 255, 255, 0.88);
    --sendbird-dark-ondark-02: rgba(255, 255, 255, 0.50);
    --sendbird-dark-ondark-03: rgba(255, 255, 255, 0.38);
    --sendbird-dark-ondark-04: rgba(255, 255, 255, 0.12);
    --sendbird-dark-shadow-01: 0 1px 5px 0 rgba(33, 34, 66, 0.04), 0 0 3px 0 rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    --sendbird-dark-shadow-02: 0 3px 5px -3px rgba(33, 34, 66, 0.04), 0 3px 14px 2px rgba(0, 0, 0, 0.08), 0 8px 10px 1px rgba(0, 0, 0, 0.12);
    --sendbird-dark-shadow-03: 0 6px 10px -5px rgba(0, 0, 0, 0.04), 0 6px 30px 5px rgba(0, 0, 0, 0.08), 0 16px 24px 2px rgba(0, 0, 0, 0.12);
    --sendbird-dark-shadow-04: 0 9px 15px -7px rgba(0, 0, 0, 0.04), 0 9px 46px 8px rgba(0, 0, 0, 0.08), 0 24px 38px 3px rgba(0, 0, 0, 0.12);
    --sendbird-light-shadow-05: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.12);
    --sendbird-dark-shadow-message-input: 0 1px 5px 0 rgba(33, 34, 66, 0.12), 0 0 1px 0 rgba(33, 34, 66, 0.16), 0 2px 1px 0 rgba(33, 34, 66, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --sendbird-font-family-default: 'Urbanist', 'sans-serif';
}

.sendbird-channel-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendbird-channel-preview .sendbird-channel-preview__content .sendbird-channel-preview__content__lower .sendbird-channel-preview__content__lower__last-message {
    white-space: nowrap;
}

.sendbird-channel-preview .sendbird-channel-preview__content .sendbird-channel-preview__content__lower {
    width: 180px;
}

.sendbird-label--body-1 {
    color: #0E0E0E;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sendbird-app__wrap .sendbird-app__conversation-wrap {
    background: #FFF;
    border-radius: 16px;
    box-shadow: 0px 16px 40px -7px rgba(0, 0, 0, 0.05);
}
